body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #555;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

a {
  color: #f42;
  text-decoration: none;
}

a:hover {
  color: #000;
}

#navbar {
  width: 100%;
  height: 48px;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 7;
}

.navleft {
  display: flex;
}

.navright {
  display: flex;
}

.logo {
  background: linear-gradient(to right bottom, rgb(204, 0, 153), rgb(255, 68, 34) 85%);
  height: 48px;
  width: 106px;
  padding: 16px 20px;
}

.navlinks {
  display: flex;
  justify-self: flex-start;
}

.link-item {
  padding: 18px 12px 0;
  font-weight: 500;
  text-transform: uppercase;
  color: #aaa;
  display: block;
  height: 48px;
  letter-spacing: .04em;
  line-height: 1;
}

.link-item:first-child {
  padding-left: 20px;
}

.search {
  border-left: 1px solid #eee;
  display: block;
  height: 48px;
  width: 48px;
  padding: 16px;
}

.countdown {
  border-right: 1px solid #eee;
  padding-right: 8px;
  display: flex;
  align-items: center;
  line-height: 48px;
  align-self: baseline;
}

.countdown img {
  display: inline-block;
  width: 125px;
  vertical-align: middle;
}

.countdown p {
  font-size: 22px;
  color: #f42;
  font-weight: 500;
  line-height: 46px;
  margin-right: 8px;
}

.countdown .btn {
  background-color: #0cc;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 3px;
  display: inline-block;
  line-height: 28px;
  height: 28px;
  padding: 0 12px;
  font-size: 11px;
}

.tickets {
  position: fixed;
  top: 48px;
  height: 30px;
  width: 100%;
  background: #fd3;
  line-height: 30px;
  font-size: 13px;
  padding-left: 126px;
  z-index: 7;
}

.tickets a {
  color: #000;
}

#main {
  padding-top: 74px;
}

#featured {
  height: 75vh;
  max-height: 560px;
  padding: 4px;
}

.cover {
  background-image: url(../images/feature-bg.png);
  background-size: cover;
  background-position: 50%;
  background-color: #000;
  height: 50%;
  width: 33.33333333%;
  overflow: hidden;
  position: relative;
  border: 4px solid #fff;
  float: left;
}

.cover:first-child {
  height: 100%;
  width: 66.66666%;
}

.cover-gradient-black, .section-gradient-black {
  background: rgba(0,0,0,.25) url(../images/gradient2.png) no-repeat;
  background-size: 100% 100%;
  z-index: 2;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.cover-gradient {
  background: transparent url(../images/gradient.png) no-repeat;
  background-position: 0 0;
  background-size: cover;
  mix-blend-mode: lighten;
  z-index: 3;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.cover-logo {
  background: transparent url(../images/logo.svg) no-repeat;
  background-size: contain;
  width: 50%;
  height: 100%;
  max-height: 112px;
  z-index: 4;
  position: absolute;
  right: 24px;
  left: 24px;
  top: 24px;
}

.cover-date {
  display: block;
  position: absolute;
  top: 16px;
  right: 24px;
  z-index: 4;
  color: #fff;
}

.cover-header {
  padding: 20px 16px;
  position: absolute;
  bottom: 4px;
  left: 4px;
  right: 4px;
  z-index: 4;
}

.cover h5, .section h5, .section-latest h5 {
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .04em;
  line-height: 1.5;
  font-size: 14px;
}

.cover h2 {
  font-family: sans-serif;
  font-size: 28px;
  line-height: 1;
  margin-bottom: .25em;
  color: #fff;
  font-weight: 700;
  letter-spacing: -.015em;
}

.cover:first-child h2 {
  font-size: 56px;
}

.cover p, .section p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 16px;
}

#latest {
  margin: 0 auto 4em;
  max-width: 1192px;
  padding: 24px 20px 0;
}

#latest h2, .section h2 {
  margin-bottom: 24px;
  font-size: 28px;
  color: #f42;
  font-weight: 700;
  line-height: 1.1;
  font-family: sans-serif;
  letter-spacing: -.015em;
}

#latest h2::after, .section h2::after {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill="none" stroke="%23F42" stroke-width="3" stroke-miterlimit="10" d="M4.75 1.5l6.5 6.5-6.5 6.5"/></svg>');
  background-size: 16px 16px;
  content: '';
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-left: 4px;
  position: relative;
  top: 0;
}

#latest .container {
  display: flex;
  flex-flow: row wrap;
  width: calc(100% + 24px);
  margin-left: -12px;
}

.article {
  flex: 0 0 auto;
  flex-basis: 25%;
  max-width: 25%;
  padding: 12px;
  position: relative;
}

.article a {
  display: block;
  height: 0;
  width: 100%;
  padding-top: 50%;
  margin-bottom: 8px;
  background-image: url(../images/article.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.article h4 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  word-wrap: break-word;
  color: #000;
}

.article p {
  font-size: 13px;
  line-height: 20px;
  color: #aaa;
  padding-top: 4px;
}

#sections {
  margin: 0 auto 40px;
  max-width: 1192px;
  padding: 0 20px;
}

#sections .container {
  margin: -12px;
  display: flex;
  flex-flow: row wrap;
}

.section {
  padding: 12px;
  margin-bottom: 24px;
  flex: 0 0 auto;
  flex-basis: 33.3333333%;
  max-width: 33.3333333%;
}

.section h2 {
  margin-bottom: 14px;
}

.section-top {
  height: 0;
  padding-top: 75%;
  position: relative;
  width: 100%;
}

.section-image {
  background-image: url(../images/section.png);
  background-size: cover;
  background-position: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.section-header {
  position: absolute;
  padding: 14px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.section h5 {
  font-size: 13px;  
}

.section h3 {
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
  color: #fff;
}

.section-latest {
  display: flex;
  background-color: rgba(255,68,34,.06);
  margin: 2px 0;
}

.section-latest-header {
  flex: 1;
  overflow: hidden;
  padding: 10px 14px 0;
}

.section-latest h5 {
  color: #f42;
  font-size: 13px;
}

.section-latest h4 {
  max-height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  font-size: 14px;
  color: #f42;
  font-weight: 700;
  line-height: 1.25
}

.section-latest-image {
  background-image: url(../images/section-latest.png);
  flex: 0 0 96px;
  background-position: 50%;
  background-size: cover;
  height: 96px;
  width: 96px;
}

.headline {
  border-bottom: 1px solid #eee;
  color: #555;
  display: block;
  padding: 6px 0 6px 14px;
  position: relative;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}

.headline::before {
  background-color: #f42;
  border-radius: 50%;
  content: "";
  display: block;
  height: 4px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 4px;
}

#footer {
  text-align: center;
}

.footer-nav {
  padding: 3em 0 2em;
  background: #131313;
}

.footer-nav ul {
  margin: 0 auto;
  max-width: 1192px;
  padding: 0 20px;
}

.footer-nav li {
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block;
  font-size: 13px;
  line-height: 24px;
  margin: 0 6px;
  color: #aaa;
}

.copyright {
  background: #000;
  padding: 3em 0;
  color: #aaa;
  font-size: 13px;
}